.cluster
  
  &.cluster-component
    position relative    
    width auto !important
    // z-index 10

    &:after  
        // -webkit-animation pulse 2s ease-out !important
        // -moz-animation pulse 2s ease-out !important
        // animation pulse 2s linear !important
        // -webkit-animation-iteration-count infinite !important
        // -moz-animation-iteration-count infinite !important
        // animation-iteration-count infinite !important    
        background-color #36927b !important
        border-radius 50% !important
        content "" !important
        display block !important
        height 0 !important
        left -5px
        padding-bottom 150% !important
        width 150% !important

    
    img 
      left -50% !important
      position absolute !important
      top -50% !important      
      transform translate( 50%, 50%) !important
      width 20px !important
      opacity 0 !important

    div
      line-height 1em
      margin-top -0.5em
      padding-top 50%
      position absolute !important
      text-align center
      width  auto !important
      // z-index 10
      
      

      // 
   
    
  @keyframes pulse

    0% 
      transform: matrix(0, 0, 0, 0, 0, 0 )
      opacity: 0.3;
    
    25%
      transform: matrix(0.4, 0, 0, 0.4, 0, 0 )
      opacity: 0.3;
    
    50%
      transform: matrix(0.8, 0, 0, 0.8, 0, 0 )
      opacity: 0.3;
    
    75% 
      transform: matrix(1.2, 0, 0, 1.2, 0, 0)
      opacity: 0.3;
    
    100% 
      transform: matrix(1.6, 0, 0, 1.6, 0, 0)
      opacity: 0.3;
  