.nav-component
  
.page-title-component
  a
    font-family 'Courier New', Courier, monospace
    font-weight lighter !important

    img 
      height 45px
      padding 5px 10px

  .icon-component    
    a
      em 
        color #888888
        font-size 2rem
        padding 12px 38px 0 0
      
        &:hover
          color #35cebe