.nav-component
  
.page-title-component
  a
    font-family 'Courier New', Courier, monospace
    font-weight lighter !important

    img 
      height 45px
      padding 5px 10px

  .icon-component    
    a
      em 
        color #888888
        font-size 2rem
        padding 12px 38px 0 0
        pointer-events none
      
        &:hover
          color #35cebe
  
  .svg-icon-component
    svg
      height 32px
      fill #fff
      padding 12px 38px 0 0

      path 
        fill #888

      &:hover   
        cursor pointer
        
        path
          fill #25beae